body {
    background-image: url(C:/Users/Cody/code/Portfolio/Assets/lightpaperfibers.png);
    background-size: contain;
}


.codyNavFont {
    font-family: 'Lexend Tera', sans-serif;

}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.jumbotron {
    background-image: url(C:/Users/Cody/code/Portfolio/Assets/newJumboImg.jpg);
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;
    color: white;
    margin-bottom: 30%;
}

.navbar {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Lexend Tera', sans-serif;
}